@{
    ViewData["Title"] = "Home";
}
<div class="container py-5 text-center">
    <h1 class="display-5 fw-bold">CST8002</h1>
    <p class="lead mb-2">Assignment 2</p>
    <h3 class="mb-4">Doctor Appointment Booking System</h3>
    <h3 class="mb-4"> Guokai Shi</h3>
    <a asp-controller="Account" asp-action="Login" class="btn btn-primary btn-lg px-5">Start Demo</a>
</div>
