@model CST8002.Web.ViewModels.AdminDashboardVm
@{
    ViewData["Title"] = "Admin Dashboard";
}
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-3">
            @await Html.PartialAsync("~/Views/Shared/_SidebarAdmin.cshtml")
        </div>
        <div class="col-9">
            <h4>Hello, @Model.UserName</h4>
            <div>Today is @Model.Today.ToString("yyyy-MM-dd")</div>
        </div>
    </div>
</div>
