<ul class="nav flex-column">
	<li class="nav-item"><a class="nav-link" asp-area="Doctor" asp-controller="Dashboard" asp-action="Index">Dashboard</a></li>
	<li class="nav-item"><a class="nav-link" asp-area="Doctor" asp-controller="Schedule" asp-action="Index">Generate Slots</a></li>
	<li class="nav-item"><a class="nav-link" asp-area="Doctor" asp-controller="Appointments" asp-action="Index">My Appointments</a></li>
	<li class="nav-item"><a class="nav-link" asp-area="Doctor" asp-controller="Profile" asp-action="Edit">Profile</a></li>
	<li class="nav-item"><a class="nav-link" asp-area="Doctor" asp-controller="Notifications" asp-action="Index">Notifications</a></li>
</ul>
