<div class="list-group">
    <a class="list-group-item list-group-item-action" asp-controller="DoctorUi" asp-action="Schedule">Generate Schedule</a>
    <a class="list-group-item list-group-item-action" asp-controller="DoctorUi" asp-action="MyAppointments">My Appointments</a>
    <a class="list-group-item list-group-item-action" asp-controller="DoctorUi" asp-action="Profile">Profile</a>
    <a class="list-group-item list-group-item-action" asp-controller="Notifications" asp-action="Index">Notifications</a>
    <a class="btn btn-outline-secondary mt-3" asp-controller="Account" asp-action="Logout">Logout</a>
</div>
