<div class="list-group">
    <a class="list-group-item list-group-item-action" asp-controller="AdminUi" asp-action="ActivatePatients">Activate Patients</a>
    <a class="list-group-item list-group-item-action" asp-controller="AdminUi" asp-action="RegisterDoctor">Register Doctor</a>
    <a class="list-group-item list-group-item-action" asp-controller="AdminUi" asp-action="EditPatients">Patients</a>
    <a class="list-group-item list-group-item-action" asp-controller="AdminUi" asp-action="EditDoctors">Doctors</a>
    <a class="list-group-item list-group-item-action" asp-controller="AdminUi" asp-action="ManageAppointments">Manage Appointments</a>
    <a class="list-group-item list-group-item-action" asp-controller="AdminUi" asp-action="Reports">Reports</a>
    <a class="btn btn-outline-secondary mt-3" asp-controller="Account" asp-action="Logout">Logout</a>
</div>
