<ul class="nav flex-column">
	<li class="nav-item"><a class="nav-link" asp-area="Admin" asp-controller="Dashboard" asp-action="Index">Dashboard</a></li>
	<li class="nav-item"><a class="nav-link" asp-area="Admin" asp-controller="Users" asp-action="PendingPatients">Activate Patients</a></li>
	<li class="nav-item"><a class="nav-link" asp-area="Admin" asp-controller="Users" asp-action="Register">Register Doctor</a></li>
	<li class="nav-item"><a class="nav-link" asp-area="Admin" asp-controller="Users" asp-action="EditPatient">Patients</a></li>
	<li class="nav-item"><a class="nav-link" asp-area="Admin" asp-controller="Users" asp-action="EditDoctor">Doctors</a></li>
	<li class="nav-item"><a class="nav-link" asp-area="Admin" asp-controller="Schedule" asp-action="Generate">Generate Slots</a></li>
	<li class="nav-item"><a class="nav-link" asp-area="Admin" asp-controller="Appointments" asp-action="Index">Manage Appointments</a></li>
	<li class="nav-item"><a class="nav-link" asp-area="Admin" asp-controller="Reports" asp-action="Index">Reports</a></li>
</ul>
